body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f3f7f7;
    color: #0d0706;
    border-bottom: 15px solid #d4ebec;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.btn {
    border: 1px solid;
    background: #d4ebec;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.avatar {
    height: 150px;
    width: 150px;
}

.border-blue {
    border: 10px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
